@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main(message)

<script>
    $(document).ready(function(){
        $('#mainPage').show();
        $('#tasksPage').hide();
    });

    $('#createUserLink').click(function(){
        $('#createUserForm').show();
        $('#loginForm').hide();
    });

    $('#loginUserLink').click(function(){
        $('#createUserForm').hide();
        $('#loginForm').show();
    });
</script>
